---
import { media } from "@wix/sdk";
import NavBar from "../../components/NavBar.astro";
import ThemeToggle from "../../layouts/ThemeToggle.astro";
import FooterComponent from "../../components/FooterComponent.astro";
import ExpandIcon from "../../components/svgs/ExpandIcon.astro";
import "../../styles/projectStyles.css";

import fetchworks from "../../lib/fetchWorks";
const works = await fetchworks();

const title = works[0].data.slug;

---

<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
            name="viewport"
    />
    <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
    <title>Hunter | { title }</title>
    <link
            rel="icon"
            type="image/svg+xml"
            href="/assets/icons/hunter-logo.svg"
    />

    <style>

    </style>
    <script>

        document.addEventListener('DOMContentLoaded', function() {
            const slug = '{slug}'; // This will be replaced with the actual slug value from the Astro frontmatter.
            const newURL = `/projects/${slug}`; // Ensure correct URL structure with the slug value

            // Check if the current URL is different from the desired URL
            if (window.location.pathname !== newURL) {
                history.pushState({}, '', newURL);  // Update the URL without refreshing the page
            }
        });

    </script>
</head>
<NavBar/>
<ThemeToggle/>
<body>

<div class="container">
    <div class="page-cta-wrapper" style="position: relative; opacity: 0;">
        <img src={media.getImageUrl(works[0].data.featuredImage).url} alt="Cover image" style="height: 100%; width: 100%; object-fit: cover;" class="cover-image">

        <!-- Overlay content -->
        <div class="page-cta"
             style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; z-index: 1;">
            <div class="project-name" style="color: white; font-size: 3rem; text-align: center;">
                { works[0].data.heroText }
            </div>
            <div class="cta-button-wrapper" style="margin-top: 20px; text-align: center;">
                <button onclick="window.location.href='#gallery'" class="cta-button">
                    View Gallery
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h1>Overview</h1>
    <div class="spacer-block" style="height: 1em"></div>
    <div class="description-text">
        <div set:html={ works[0].data.projectOverview } />
    </div>
    <div class="container">
        <div class="title-wrapper" id="gallery">
            <h1>Gallery</h1>
            <div class="spacer-block" style="height: 2em"></div>
        </div>
        <div class="gallery-wrapper">
            <div class="img-wrapper">
                <div class="gallery-item">
                    <img src={media.getImageUrl(works[0].data.mediagallery[0].src).url} alt="captured by hunter" class="open"/>
                    <div class="overlay open">
                        <ExpandIcon class="expand-icon"/>
                    </div>
                </div>
                <dialog class="modal">
                    <img src={media.getImageUrl(works[0].data.mediagallery[0].src).url}
                         alt=""
                         class="modal-img open" loading="lazy">
                </dialog>
            </div>

            <div class="img-wrapper">
                <div class="gallery-item">
                    <img src={media.getImageUrl(works[0].data.mediagallery[1].src).url} alt="captured by hunter" class="open"/>
                    <div class="overlay open">
                        <ExpandIcon class="expand-icon"/>
                    </div>
                </div>
                <dialog class="modal">
                    <img src={media.getImageUrl(works[0].data.mediagallery[1].src).url}
                         alt=""
                         class="modal-img open" loading="lazy">
                </dialog>
            </div>

            <div class="img-wrapper">
                <div class="gallery-item">
                    <img src={media.getImageUrl(works[0].data.mediagallery[2].src).url} alt="captured by hunter" class="open"/>
                    <div class="overlay open">
                        <ExpandIcon class="expand-icon"/>
                    </div>
                </div>
                <dialog class="modal">
                    <img src={media.getImageUrl(works[0].data.mediagallery[2].src).url}
                         alt=""
                         class="modal-img open" loading="lazy">
                </dialog>
            </div>

            <div class="img-wrapper">
                <div class="gallery-item">
                    <img src={media.getImageUrl(works[0].data.mediagallery[3].src).url} alt="captured by hunter" class="open"/>
                    <div class="overlay open">
                        <ExpandIcon class="expand-icon"/>
                    </div>
                </div>
                <dialog class="modal">
                    <img src={media.getImageUrl(works[0].data.mediagallery[3].src).url}
                         alt=""
                         class="modal-img open" loading="lazy">
                </dialog>
            </div>

            <div class="img-wrapper">
                <div class="gallery-item">
                    <img src={media.getImageUrl(works[0].data.mediagallery[4].src).url} alt="captured by hunter" class="open"/>
                    <div class="overlay open">
                        <ExpandIcon class="expand-icon"/>
                    </div>
                </div>
                <dialog class="modal">
                    <img src={media.getImageUrl(works[0].data.mediagallery[4].src).url}
                         alt=""
                         class="modal-img open" loading="lazy">
                </dialog>
            </div>

            <div class="img-wrapper">
                <div class="gallery-item">
                    <img src={media.getImageUrl(works[0].data.mediagallery[5].src).url} alt="captured by hunter" class="open"/>
                    <div class="overlay open">
                        <ExpandIcon class="expand-icon"/>
                    </div>
                </div>
                <dialog class="modal">
                    <img src={media.getImageUrl(works[0].data.mediagallery[5].src).url}
                         alt=""
                         class="modal-img open" loading="lazy">
                </dialog>
            </div>

            <div class="img-wrapper">
                <div class="gallery-item">
                    <img src={media.getImageUrl(works[0].data.mediagallery[6].src).url} alt="captured by hunter" class="open"/>
                    <div class="overlay open">
                        <ExpandIcon class="expand-icon"/>
                    </div>
                </div>
                <dialog class="modal">
                    <img src={media.getImageUrl(works[0].data.mediagallery[6].src).url}
                         alt=""
                         class="modal-img open" loading="lazy">
                </dialog>
            </div>

            <div class="img-wrapper">
                <div class="gallery-item">
                    <img src={media.getImageUrl(works[0].data.mediagallery[7].src).url} alt="captured by hunter" class="open"/>
                    <div class="overlay open">
                        <ExpandIcon class="expand-icon"/>
                    </div>
                </div>
                <dialog class="modal">
                    <img src={media.getImageUrl(works[0].data.mediagallery[7].src).url}
                         alt=""
                         class="modal-img open" loading="lazy">
                </dialog>
            </div>

            <div class="img-wrapper">
                <div class="gallery-item">
                    <img src={media.getImageUrl(works[0].data.mediagallery[8].src).url} alt="captured by hunter" class="open"/>
                    <div class="overlay open">
                        <ExpandIcon class="expand-icon"/>
                    </div>
                </div>
                <dialog class="modal">
                    <img src={media.getImageUrl(works[0].data.mediagallery[8].src).url}
                         alt=""
                         class="modal-img open" loading="lazy">
                </dialog>
            </div>

        </div>
        <script defer>

        </script>
    </div>
    <FooterComponent/>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js" defer></script>
    <script src="https://unpkg.com/lenis@1.1.13/dist/lenis.min.js" defer></script>
    <script src="/src/script/lenisScroll.js" defer></script>
    <script src="../../script/cta-Animation.js">
    </script>

</body>

</html>